:root {
    --logo-height: 50px;
    --top-dim: 18px;
    --nav-dim: 20px;
    --theme-color: #EB3957;
    --banner-color: #ff1552;
    --top-color: rgb(126, 126, 126);
    --btn-color: #55595c;
    --top-text: #7e7e7e;
}
:-webkit-any(link) {
    cursor: pointer;
}
::-webkit-scrollbar {
    width: 7px;
    height:7px;
}
::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}
::-webkit-scrollbar-thumb {
    background-color: var(--banner-color);
    border: 0;
}
::-webkit-scrollbar-track {
    background: 0 0;
    border: 0;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #303030;
}
::-webkit-scrollbar-track:hover {
    background: #909090;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    height: 2000px;     /* //TODO CANCELLARE QUESTA RIGA  */
    border: none;
    font-family: 'roboto', Arial, sans-serif;
    line-height: 26px;
}
html {
    -webkit-text-size-adjust: 100%;
    font-weight: 400;
}
ul {
    list-style: none;
}
button a {
    touch-action: manipulation;
    border-radius: 0;
    line-height: inherit;
    cursor: pointer;
}
button {
    border: none;
    background: 0 0;
}
.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/*
Banner
*/
.header-banner {
    background-color: var(--banner-color);
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex: content;
    padding: 2px 0px;
}
.banner-link{
    color: white;
    text-decoration: none;
}
.header-banner .banner-link .banner-text {
    line-height: 26px;
    font-size: 13px !important;
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
    
}
/*
Header con 
1.Servizio clienti
2.Tema scuro
3.Accedi
4.Lista desideri
5.Carrello
*/
.header-top {
    color: var(--top-color);
    border-bottom: 1px solid #eee;
    padding: 0;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    min-height: 49px;
    color: var(--top-text);
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 49px;;
}


.row {
    margin: 0 -15px;
    width: 100%;
    min-height: 49px;
}
.hidden-down {
    display: flex;
    flex-direction: row;
}
.left-top {
    padding: 0 15px;
    margin-bottom: 0;
    min-height: 48px;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex-direction: row !important;
}
.client-service-btn {
    margin: 0 0 1px 29px;
    font-weight: 500;
    letter-spacing: .2px;
    color: var(--top-color);
    display: flex;
    cursor: pointer; 
}


.right-top {
    padding-bottom: 3px;
    padding: 0 15px;
    min-height: 48px;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.darkmode-switcher {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}
.darkmode-switcher .switcher-button {
    padding: 0;
    margin: 0;
    overflow: visible;
}
.user-info {
    padding-top: 2px;
    margin-left: 0;
    margin-right: 0;
    text-align: right;
    white-space: nowrap;
}
.user-info a {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.user-info svg {
    margin: 0 10px 1px 0;
}
.account-login {
    font-size: 16px;
}
.right-top-element {
    width: 25%;
    text-align: right;
    align-items: center;
    justify-content: flex-end;
}
/*
Elementi singoli dell'header
*/
.header-top svg {
    filter: invert(34%) sepia(8%) saturate(273%) hue-rotate(163deg) brightness(95%) contrast(90%);
}

/*
    MEDIA
*/

@media (min-width: 1200px) {
    .container{
        max-width: 1140px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        max-width: 940px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 720px;
    }
}
/*
@media (min-width: 768px) {
    .left-top {
        float: left;
        width: 33.3333%
    }
    .right-top {
        float: right;
        width: 66.6666%;
    }
}
*/
@media (min-width: 544px) and (max-width: 767px) {
    .container {
        max-width: 576px;
    }
}